<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">Edufact</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item " *ngFor="let l1 of navLinks">
                <a class="nav-link" routerLink={{l1.link}} routerLinkActive={{l1.active}}>{{l1.txt}}</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink='/tv'>tv</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/mobile'>mobile</a>
            </li> -->
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>