<!-- Welcome to home page <br> Loginstatus :{{status}} <br> user name :{{username}} -->
<!-- <div class="container">
    Welcome to Home page you visited {{count}} pages on this site. <br> Pages visited (InOrder):
    <div *ngFor="let name of names">
        {{name}}
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-2">
            Angular
        </div>
        <div class="col-2">
            <button class="btn btn-success" (click)="onStart()">Start</button>
        </div>
    </div>

</div>